body {
  background-color: #0FF;
  font-family: Raleway, sans-serif;
  color: #F0F;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  }

@media (max-width: 750px) {
  #main {
    font-size: 25px;
  }
}

#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.3);
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: solid;
  border-color: rgb(135, 135, 135);
  border-width: 0.1em;
  margin-top: 1em;
  }

#title {
  font-size: 1em;
  }

#strapline {
  font-size: 0.7em;
  padding-top: 1em;
 }

hr {
  color: rgb(135, 135, 135);
  font-size: 2em;
  width: 90%;
}

#img-div {
  display: flex;
  flex-direction: column;
}

#image {
max-width: 100%;
display: block;
height: auto;
}

#img-caption {
  color: rgb(135, 135, 135);
  font-size: 0.4em;
  padding-top: 0.5em;
  align-self: center;
  }

#sub-heading {
  font-size: 0.65em;
  padding-top: 0.5em;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  line-height: 2em;
  font-size: 0.45em;
  padding-left: 8em;
  padding-right: 6em;
  }

blockquote {
  display: flex;
  flex-direction: column;
  color: rgb(135, 135, 135);
  font-size: 0.6em;
  padding-top: 1.5em;
}

q {
  text-align: center;
}

#author {
  align-self: flex-end;
  font-size: 0.8em;
  padding: 0.9em;
  }

p {
  font-size: 0.5em;
  padding: 1em;
}

a:hover {
  color: rgb(0, 0, 255)
}
