body {
  background-color: #0FF;
  font-family: Raleway, sans-serif;
  color: #F0F;
  font-size: 50px;
}

@media (max-width: 750px) {
  body {
  font-size: 0.5em;
  }
}

#title {
  text-align: center;
  font-size: 1em;
  margin: 1em 11em 1em 11em;
  padding: 3em 0em 3em 0em;
  border-color: rgb(135, 135, 135);
  border-width: 0.19em;
  border-style: solid;
  border-radius: 50%;
}

#strapline {
  font-size: 0.7em;
  text-align: center;
}

hr {
  margin: 1em;
  color: rgb(135, 135, 135);
  font-size: 1em;
}

#image {
max-width: 100%;
display: block;
height: auto;
margin: auto;
}

#img-caption {
  color: rgb(135, 135, 135);
  font-size: 0.4em;
  padding-top: 0.5em;
  text-align: center;
}

#sub-heading {
  text-align: center;
  font-size: 0.7em;
  padding-top: 1.5em;
}

ul {
  line-height: 2em;
  font-size: 0.5em;
  padding: 1em 4em 3.5em 10em;
  }

blockquote {
  color: rgb(135, 135, 135)
}

#quote {
  text-align: center;
  font-size: 0.7em;
}

#author {
  text-align: right;
  font-size: 0.7em;
  padding-top: 1.5em;
  padding-right: 2em;
}

p {
  font-size: 0.5em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}

a:hover {
  color: rgb(0, 0, 255)
}
