body {
  background-color: #0FF;
  font-family: Raleway, sans-serif;
  color: #F0F;
  text-align: center;
  font-size: 50px;
}

@media (max-width: 750px) {
  body {
  font-size: 25px;
  }
}

#title {
  font-size: 1em;
  margin: 1em 11em 1em 11em;
  padding: 3em 0em 3em 0em;
  border-color: rgb(135, 135, 135);
  border-width: 0.19em;
  border-style: solid;
  border-radius: 50%;
}

#strapline {
  font-size: 0.7em;
}

hr {
  margin: 1em;
  color: rgb(135, 135, 135);
}

#sub-heading {
  text-align: center;
  font-size: 0.7em;
  margin: -0.7em 0em 0em 0em;
  padding: 0em 0em 0.35em 0em;
}

#image {
max-width: 100%;
display: block;
height: auto;
margin: auto;
}

#img-caption {
  color: rgb(135, 135, 135);
}

#tribute-info {
  text-align: left;
  padding: 2em 4em 2em 5em;
}

ul {
  line-height: 2em;
}

blockquote {
  color: rgb(135, 135, 135)
}

#quote {
  text-align: center;
  margin: -2em;
  padding: 3em 0em 3em 0em;
}

#author {
  text-align: right;
  font-size: 0.4em;
  padding: 0.4em;
}

a:hover {
  color: rgb(0, 0, 255)
}
